.contact{
    width: 100vw;
    height: 50vh;
    border:1px solid white;
}
.contact> h1{
    font-family: Verdana;
    margin-top:100px;
    color:#999999;
   
}
.contact>h5{
    text-align: center;
    font-family: Georgia;
    color:black;
    margin-bottom: 4vh;
    font-size:0.8vw;
    line-height : 3vh; 
    user-select: none;
}
.contact_arrow{
 position: relative;
 left: 49vw;
 width: 30px;
 
}
.cls-1{
    fill:none;
    stroke:#9a9a9e;
    stroke-miterlimit:10;
}  
